@model IEnumerable<Projekat2.Models.CustomerDemographics>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1>Index</h1>
    <p>
        <a asp-action="Create" class= "btn btn-primary">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerDesc)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerDesc)
                    </td>
                    <td>
                        <a class="btn btn-primary" role="button" asp-action="Edit" asp-route-id="@item.CustomerTypeId">Edit</a>
                        <a class="btn btn-info" role="button" asp-action="Details" asp-route-id="@item.CustomerTypeId">Details</a>
                        <a class="btn btn-danger" role="button" asp-action="Delete" asp-route-id="@item.CustomerTypeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>

